@font-face {
    font-family: "HelveticaNeue_Light";
    src: url("/fonts/OpenSans-Regular-webfont.woff2")
   }


.containerSearchLanguages {
    width: 100%;
    height: 100vh ;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}


.inputSearchLanguages {
    
    border: 4px solid #FAE404;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 1.15em;
    
}

.suggestionsList {
    color: #262626;
    list-style-type: none;
    background: #FAE404;
    border-radius: 5px;
    font-size: 1.15em;
}
