@font-face {
  font-family: "HelveticaNeue_Light";
  src: url("../../fonts/HelveticaNeue_Light.ttf");
}
@font-face {
  font-family: "HelveticaNeue_Medium";
  src: url("../../fonts/HelveticaNeue_Medium.ttf")
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.containerSearchLanguages {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.inputSearchLanguages {
  border: 4px solid #fae404;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 40px;
  font-size: 1.4em;
  font-family: "HelveticaNeue_Light", "sans-serif";
}

.suggestionsList {
  color: #505050;
  list-style-type: none;
  background: #fae404;
  border-radius: 5px 5px 5px 5px;
  font-size: 1.4em;
  font-family: "HelveticaNeue_Light", "sans-serif";
  margin-top: 0em;
  padding: 20px 20px;
}

.listElements {
  width: auto;
  list-style: none;
  margin: 1vh;
}

.cardItem {
  padding: 4vw;
  height: 8vh;
  text-align: center;
  margin: auto;
  width: 45vw;
  background-color: #fae404;
  border-radius: 5px 5px 5px 5px;
  font-size: 1.4em;
  font-family: "HelveticaNeue_Light", "sans-serif";
}
.x {

  margin-left: 27%;
  background-color: #fae404;
  font-size: 1em;
  border:none;
  cursor: pointer;
  color: rgb(114, 110, 110);
  font-weight: bold;
  font-family: "HelveticaNeue_Light", "sans-serif";
}
.Add {
  position: absolute;
  right: 20%;
  top: 3.5%;
  height: 5vh;
  background-color: #fae404;
  border-radius: 7px 7px 7px 7px;
  font-size: 1.4em;
  border-style: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.Add  :hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button{
  font-family: "HelveticaNeue_Light", "sans-serif";
  background-color: #ffffff;
  padding: 30px 25px;
  color: #262626;
  border-radius: 10px;
  width: 220px;
  cursor: pointer;
  font-size: 20px;
  border: 4px solid #FAE404;
  margin: 0px 0px 40px 0px;
}

.logoUserProfilSearch {
  display: block;
  height: 7vh;

}
.linksSearch {
  display: flex;
  margin-top: 8.5vh;
  justify-content: space-around;
  text-align: center;

}
.linksSearch p {
  margin: 5px 0px 6px 0px;
}