@font-face {
    font-family: "HelveticaNeue_Medium";
    src: url("../components/fonts/HelveticaNeue_Medium.ttf")
}

.filter{
    width:50%;
    margin: auto;
    text-align: center;

    
}

.buttonfilter{
    
    display: flex;
    justify-content: center;
    margin: 5%;
}

button{
    
    width: auto;
    background: white;
    color: black;
    border:none;
    border-radius: 10px;
    height: 2.2em;
    padding: 0em 2em;
    font-size: 20px;
    
    

}

form{
    display: flex;
    flex-direction: column;
}

.check-meet-up, .check-entreprise, .check-cowork{
    margin: 1vh;
}





 /* RANGE SECTION  */


.range p{
    text-align: center;
}

.range .input-range__track--active{
    background: black;
}

.range .input-range__slider{
    background: black;
    border: black;
}




