@font-face {
    font-family: "HelveticaNeue_Medium";
    src: url("../components/fonts/HelveticaNeue_Medium.ttf")
 }
 .filter{
    width:auto;
    height:auto;
    margin: auto;
    text-align: center;
    overflow: hidden;
    z-index: 40;
 }
 .buttonfilter{
    display: flex;
    justify-content: center;
    margin: 5%;
 }
 button{
    width: auto;
    background: white;
    color: black;
    border:none;
    border-radius: 10px;
    height: 2.2em;
    padding: 0em 2em;
    font-size: 20px;
 }
 .checkBox {
    z-index: 40;
    transition: ease 0.5s;
    overflow: hidden;
    height:0;
 }
 form{
    display: flex;
    flex-direction: column;
 }
 .slider.checkBox{
    height:27vh;
  }
 .check-meet-up, .check-entreprise, .check-cowork{
    margin: 1vh;
 }
 /* RANGE SECTION  */
 .range p{
    text-align: center;
 }
 .range .input-range__track--active{
    background: black;
 }
 .range .input-range__slider{
    background: black;
    border: black;
 }