@font-face {
    font-family: "HelveticaNeue_Medium";
    src: url("../components/fonts/HelveticaNeue_Medium.ttf")
}




button {
    align-items: center;
    font-family: "HelveticaNeue_Medium", "sans-serif";
    font-size: 20px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    color: black;
    display: flex;
    height: 2.2em;
    padding: 0em 2em;
    margin-right: 2em;
    text-align: center;
    width: auto;
}

.checkBox {
    display: block;
}


