@font-face{font-family: "HelveticaNeue_Medium" ;
src:url("../components/fonts/HelveticaNeue_Medium.ttf")}

body, html {
    margin: 0;
    padding: 0;
    
}

#wave{
    /* background: #fff; */
    z-index: -1;
}

.FisrtButton{
    
    position: relative;
    bottom: -3%;
}

.pictoMail {
    width: 4em;
    position: relative;
    bottom: -10%;

}

.buttonDiv {
    margin-top:25px;
    display: flex;
    justify-content: center;
}

