@font-face{font-family: "HelveticaNeue_Medium" ;
src:url("../components/fonts/HelveticaNeue_Medium.ttf")}

@font-face{font-family: "HelveticaNeue_Light" ;
    src:url("../components/fonts/HelveticaNeue_Light.ttf")}

body, html {
    margin: 0;
    padding: 0;
    
}

#wave{
    /* background: #fff; */
    z-index: -1;
}

.FirstButton {
    margin-right: 20px;
    font-style: "HelveticaNeue_Medium" ;
    background: #262626;
    color: #fff;
    border-radius: 10px;
    position: relative;
    bottom: -5vh;
}

.pictoMail {
    width: 4em;
    position: relative;
    bottom: -5vh;

}

.buttonDiv {
    margin-top:25px;
    display: flex;
    justify-content: center;
}

