@font-face {
    font-family: "HelveticaNeue_Light";
    src: url("../components/fonts/HelveticaNeue_Light.ttf")
 }
 @font-face {
    font-family: "HelveticaNeue_Medium";
    src: url("../components/fonts/HelveticaNeue_Medium.ttf")
 }

 *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    background: #262626;
}


.containerProfilInscription{
    display: block;
    margin-top: 6vh;
    height: 5vh;
    
}
.logoProfilInscription {
    display: block;
    height: 7vh;
    margin: auto;
}

.inscriptionProfilInscription {
    font-family: "HelveticaNeue_Medium", "sans-serif";
    display: block;
    margin-top: 8vh;
    text-align: center;
    font-size: 30px;
    color: white;

}

.form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}

input {
    display: block;
    outline: 0s;
    width: 250px;
    color: #262626;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: 300;
}

button{
    font-family: "HelveticaNeue_Light", "sans-serif";
    appearance: none;
    outline: 0;
    background-color: #ffffff;
    border: 0;
    padding: 10px 15px;
    color: #262626;
    border-radius: 3px;
    width: 120px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.containerMail{
	max-width: 600px;
	margin: 0 auto;
	padding: 120px 0;
	height: 400px;
    text-align: center;
}

.inscriptionEmpty {
    color: white;
    font-family: "HelveticaNeue_Light", "sans-serif";
    text-align: center;
    position: absolute;
    bottom: -18px;
    left: 27px;
    font-size: 3.5vh;
}

.inscriptionQuart, .inscriptionDemi, .inscription3Quart {
  color: white;
  font-family: "HelveticaNeue_Light", "sans-serif";
  text-align: center;
  position: absolute;
  bottom: -18px;
  left: 19px;
  font-size: 3.5vh;
}

.inscriptionFull {
  color: white;
  font-family: "HelveticaNeue_Light", "sans-serif";
  text-align: center;
  position: absolute;
  bottom: -18px;
  left: 11px;
  font-size: 3.5vh;
}

/* LOADER 1 */

.loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  }



#loader-1:before, #loader-1:after, #loader-1Quart:before, #loader-1Quart:after, #loader-1Demi:before, #loader-1Demi:after, #loader-13Quart:before, #loader-13Quart:after, #loader-1Full:before, #loader-1Full:after {
    content: "";
    position: absolute;
    top: 40px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    
  }
  
  #loader-1:before {
    z-index: 100;
    /* animation: spin 2s infinite; */
  }
  
  #loader-1:after, #loader-1Quart:after, #loader-1Demi:after, #loader-13Quart:after, #loader-1Full:after {
    border: 10px solid #ccc;
  }

  #loader-1Quart:before {
    z-index: 100;
    border-top-color: #FAE404;
  }

  #loader-1Demi:before {
    border-top-color: #FAE404;
    border-right-color: #FAE404;
    z-index: 100;
  }

  #loader-13Quart:before {
    border-top-color: #FAE404;
    border-right-color: #FAE404;
    border-bottom-color: #FAE404;
    z-index: 100;
  }

  #loader-1Full:before {
    border-top-color: #FAE404;
    border-right-color: #FAE404;
    border-bottom-color: #FAE404;
    border-left-color: #FAE404;
    z-index: 100;
  }



  #loader-1:before, #loader-1Quart:before, #loader-1Demi:before, #loader-13Quart:before, #loader-1Full:before {
    
    animation: spin 5s ease-out infinite;
  }
  

  @keyframes spin{
    0%{
      transform: rotate(0deg);
    }
  
    100%{
      transform: rotate(360deg);
    }
  }



  /*
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
*/
  /*
LOADER


.ouro {
  position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 1em;
    border-radius: 50%;
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}


.ouro:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    height: 70px;
    width: 70px;
    background: none 0 0 #262626;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.ouro > span {
  position: absolute;
  height: 100%; width: 50%;
  overflow: hidden;
}
.left  { left:0   }
.right { left:50% }

.anim {
  position: absolute;
  left: 100%; top: 0;
  height: 100%; width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #FAE404;
  opacity: 0.8;
  -webkit-animation: ui-spinner-rotate-left 3s infinite;
  animation: ui-spinner-rotate-left 3s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}




.ouro3 .anim {
 -webkit-animation-delay: 0s;
 -webkit-animation-duration:3s;
 -webkit-animation-timing-function: linear;
 animation-delay: 0s;
 animation-duration:3s;
 animation-timing-function: linear;
}
.ouro3 .right .anim{
 -webkit-animation-name: ui-spinner-rotate-right;
 -webkit-animation-delay:0;
 -webkit-animation-delay: 1.5s;
 animation-name: ui-spinner-rotate-right;
 animation-delay:0;
 animation-delay: 1.5s;
}


.round .ouro:after {display:none }


.double .ouro:after {
height: 13px; width: 13px;
left: 7px; top: 7px;
border: 10px solid #ddd;
background: transparent;
box-shadow: none;
}

@keyframes ui-spinner-rotate-right{
0%{transform:rotate(0deg)}
25%{transform:rotate(180deg)}
50%{transform:rotate(180deg)}
75%{transform:rotate(360deg)}
100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
0%{transform:rotate(0deg)}
25%{transform:rotate(0deg)}
50%{transform:rotate(180deg)}
75%{transform:rotate(180deg)}
100%{transform:rotate(360deg)}
}

@-webkit-keyframes ui-spinner-rotate-right{
0%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(180deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(360deg)}
100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
0%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(0deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(180deg)}
100%{-webkit-transform:rotate(360deg)}
}; 

*/