.slider.contactBody {
    height: 100vh;
  }
  
  .contactBody {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    transition: ease 0.5s;
    overflow: hidden;
    height: 0vh;
    width: 100%;
    background-color: white;
  }
  
  .contactClose {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  .contactClose:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .contactClose:before,
  .contactClose:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .contactClose:before {
    transform: rotate(45deg);
  }
  .contactClose:after {
    transform: rotate(-45deg);
  }
  
  .contactContact {
    text-align: center;
    font-size: 30px;
    font-family: Helvetica;
    color: white;
  }
  
  .contactHead {
    position: relative;
    width: 100%;
    background: black;
    padding: 1px;
    top: 0;
  }
  
  .contactMentionsContainer {
    margin-top: 20px;
    background: #f2f2f2;
    padding: 1px;
    border-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
  }
  
  .contactMentionsContainer2 {
    padding-left: 3vh;
  }
  
  .contactMentions {
    color: #4d4d4d;
    font-family: Helvetica;
    text-align: center;
  }
  
  .contactMentionsInfos {
    color: #4d4d4d;
    font-family: Helvetica;
    font-size: 15px;
    margin-bottom: 1px;
  }
  
  .contactMentionsInput {
    font-size: 19px;
    width: 88vw;
  }
  
  .contactConfidentialiteContainer {
    background: #f2f2f2;
    padding: 1px;
    border-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 15px;
  }
  
  .contactConfidentialite {
    color: #4d4d4d;
    font-family: Helvetica;
    text-align: center;
  }
  
  .contactAssistance {
    width: 86vw;
    height: 200px;
    border-style: inset;
    border-radius: 39px;
    box-shadow: inset 0px 0px 4px 0px #262626;
    margin-top: 20px;
    font-size: 15px;
    font-family: Helvetica;
    padding: 20px;
  }
  
  .contactSend {
    margin-top: 10px;
    width: fit-content;
    background: white;
    color: black;
    border: 1px solid #262626;
    box-shadow: 2px 2px 2px 1px rgba(122, 112, 112, 0.486);
    border-radius: 10px;
    height: 2.2em;
    padding: 0em 2em;
    font-size: 20px;
    font-family: "HelveticaNeue_Medium";
  }
  .contactSend:active {
    position: relative;
    top: 1px;
  }
  
  .contactSendContainer {
    display: flex;
    justify-content: center;
    padding-right: 3vh;
  }