@font-face {
    font-family: "HelveticaNeue_Medium";
    src: url("../fonts/HelveticaNeue_Medium.ttf")
 }


 .filter{
    width:auto;
    height: auto;
    margin: auto;
    text-align: center;
    overflow: hidden;
    z-index: 40;
 }

 .buttonfilter{
    display: flex;
    justify-content: center;
    margin: 5%;
 }
 button{
    width: auto;
    background: white;
    color: black;
    border: 1px solid #262626;
    box-shadow: 2px 2px 2px 1px rgba(122, 112, 112, 0.486);
    border-radius: 10px;
    height: 2.2em;
    padding: 0em 2em;
    font-size: 20px;
    font-family: 'HelveticaNeue_Medium';
 }
button:active {
   box-shadow: none;
   position: relative;
   top: 0.2em;
 }
 .checkBox {
    z-index: 40;
    transition: ease 0.5s;
    overflow: hidden;
    height:0;
 }
 form{
    display: flex;
    flex-direction: column;
 }
 .slider.checkBox{
    height:21.3vh;
    margin-left: 6em;
  }

 .check-meet-up, .check-entreprise, .check-cowork{
    margin: 1.3vh;
    color: #262626;
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
    

 }

 .checkbox {
   margin-right: 14px;
	width: 1.4em;
	height: 1.4em;
	border: 4px solid #262626;
	background: #FAE404;
	border-radius: .2em;
	box-shadow: inset 0 4px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
 }
